/* colors --  #6356FE  #2D2D2D #181818 #FFF */
/* 56 36 24 20 18 */

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* Home Page --- */
/* Header  */
.header {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: #181818;
  top: 0%;
  z-index: 10;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 24px 0 8px 5%;
  align-items: center;
}

.header > .container > .logo {
  width: 82.95px;
  top: 30px;
  height: 60px;
  left: 70px;
}
.header-main {
  width: 654px;
  top: 42px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header > .container > nav > main > a {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin-right: 24px;
  line-height: 30.62px;
  letter-spacing: -1%;
  opacity: 75%;
  padding: 8px;
  margin: 4px;
  &:hover {
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    animation: riseUp 0.25s forwards ease-out;
  }
  animation: riseDown 0.25s forwards ease-out;
}
@keyframes riseUp {
  0% {
    transform: translateY(0px);
    opacity: 0.75;
  }
  20% {
    transform: translateY(-4px);
    opacity: 0.5;
  }
  40% {
    transform: translateY(-4px);
    opacity: 0;
  }
  60% {
    transform: translateY(4px);
    opacity: 0;
  }
  80% {
    transform: translateY(2px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes riseDown {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  20% {
    transform: translateY(2px);
    opacity: 0.5;
  }
  40% {
    transform: translateY(4px);
    opacity: 0;
  }
  60% {
    transform: translateY(-4px);
    opacity: 0;
  }
  80% {
    transform: translateY(-4px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 0.75;
  }
}
